<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="/static/css/toe.css">
</head>
<body>
    <div class="tac-board">
        <svg id="board" class="tac-board">
            <rect class="tac-square" transform="translate(0,0)"/>
            <rect class="tac-square" transform="translate(200,0)"/>
            <rect class="tac-square" transform="translate(400,0)"/>
            <rect class="tac-square" transform="translate(0,200)"/>
            <rect class="tac-square" transform="translate(200,200)"/>
            <rect class="tac-square" transform="translate(400,200)"/>
            <rect class="tac-square" transform="translate(0,400)"/>
            <rect class="tac-square" transform="translate(200,400)"/>
            <rect class="tac-square" transform="translate(400,400)"/>
        </svg>
    </div>
    <p class="big" id="message">X's turn</p>

    <script src="/static/js/tic.js"></script>

</body>

</html>