<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
  <h1>ACT I</h1>
  <h2>Scene I</h2>
  <h3>Verona. A public place</h3>

  <ol>
    <p class="directions">Enter Sampson and Gregory (with swords and bucklers) of the house of Capulet.</p>
    <p><span class="name">Samp.</span> Gregory, on my word, we'll not carry coals.</p>
    <p><span class="name">Greg.</span> No, for then we should be colliers.</p>
    <p><span class="name">Samp.</span> I mean, an we be in choler, we'll draw.</p>
    <p><span class="name">Greg.</span> Ay, while you live, draw your neck out of collar.</p>
    <p><span class="name">Samp.</span> I strike quickly, being moved.</p>
    <p><span class="name">Greg.</span> But thou art not quickly moved to strike.</p>
    <p><span class="name">Samp.</span> A dog of the house of Montague moves me.</p>
    <p><span class="name">Greg.</span> To move is to stir, and to be valiant is to stand. Therefore, if thou art moved, thou runn'st away.</p>
    <p><span class="name">Samp.</span> A dog of that house shall move me to stand. I will take the wall of any man or maid of Montague's.</p>
    <p><span class="name">Greg.</span> That shows thee a weak slave; for the weakest goes to the wall.</p>
    <p><span class="name">Samp.</span> 'Tis true; and therefore women, being the weaker vessels, are ever thrust to the wall. Therefore I will push Montague's men from the wall and thrust his maids to the wall.</p>
    <p><span class="name">Greg.</span> The quarrel is between our masters and us their men.</p>
    <p><span class="name">Samp.</span> 'Tis all one. I will show myself a tyrant. When I have fought with the men, I will be cruel with the maids- I will cut off their heads.</p>
    <p><span class="name">Greg.</span> The heads of the maids?</p>
    <p><span class="name">Samp.</span> Ay, the heads of the maids, or their maidenheads. Take it in what sense thou wilt.</p>
    
    <p><span class="name">Greg.</span> They must take it in sense that feel it.</p>
    <p><span class="name">Samp.</span> Me they shall feel while I am able to stand; and 'tis known I am a pretty piece of flesh.</p>
    <p><span class="name">Greg.</span> 'Tis well thou art not fish; if thou hadst, thou hadst been poor-John. Draw thy tool! Here comes two of the house of Montagues.</p>
  
    <p class="directions">Enter two other Servingmen [Abram and Balthasar].</p>
  
    <p><span class="name">Samp.</span> My naked weapon is out. Quarrel! I will back thee.</p>
    <p><span class="name">Greg.</span> How? turn thy back and run?</p>
    <p><span class="name">Samp.</span> Fear me not.</p>
    <p><span class="name">Greg.</span> No, marry. I fear thee!</p>
    <p><span class="name">Samp.</span> Let us take the law of our sides; let them begin.</p>
    <p><span class="name">Greg.</span> I will frown as I pass by, and let them take it as they list.</p>
    <p><span class="name">Samp.</span> Nay, as they dare. I will bite my thumb at them; which is disgrace to them, if they bear it.</p>
    <span class="name">Abr.</span> Do you bite your thumb at us, sir?
    <p><span class="name">Samp.</span> I do bite my thumb, sir.</p>
    <span class="name">Abr.</span> Do you bite your thumb at us, sir?
    <p><span class="name">Samp.</span> [aside to Gregory] Is the law of our side if I say ay?</p>
    <p><span class="name">Greg.</span> [aside to Sampson] No.</p>
    <p><span class="name">Samp.</span> No, sir, I do not bite my thumb at you, sir; but I bite my</p>
    thumb, sir.
    <p><span class="name">Greg.</span> Do you quarrel, sir?</p>
    <span class="name">Abr.</span> Quarrel, sir? No, sir.
    <p><span class="name">Samp.</span> But if you do, sir, am for you. I serve as good a man as you.</p>
    <span class="name">Abr.</span> No better.
    <p><span class="name">Samp.</span> Well, sir.</p>
  
    <p class="directions">Enter Benvolio.</p>
  
    <p><span class="name">Greg.</span> [aside to Sampson] Say 'better.' Here comes one of my</p>
    master's kinsmen.
    <p><span class="name">Samp.</span> Yes, better, sir.</p>
    <p><span class="name">Abr.</span> You lie.</p>
    <p><span class="name">Samp.</span> Draw, if you be men. Gregory, remember thy swashing blow.</p>
    They fight.
    <p><span class="name">Ben.</span> Part, fools! [Beats down their swords.]</p>
    Put up your swords. You know not what you do.
  
    <p class="directions">Enter Tybalt.</p>
  
    <p><span class="name">Tyb.</span> What, art thou drawn among these heartless hinds?</p>
    Turn thee Benvolio! look upon thy death.
    <p><span class="name">Ben.</span> I do but keep the peace. Put up thy sword,</p>
    Or manage it to part these men with me.
    <p><span class="name">Tyb.</span> What, drawn, and talk of peace? I hate the word</p>
    As I hate hell, all Montagues, and thee.
    Have at thee, coward! They fight.
  
    <p class="directions">Enter an officer, and three or four Citizens with clubs or</p>
    partisans.
  
    Officer. Clubs, bills, and partisans! Strike! beat them down!
    <p><span class="name">Citizens.</span> Down with the Capulets! Down with the Montagues!</p>
  
    <p class="directions"><p>Enter Old Capulet in his gown, and his <span class="name">Wife.</span></p></p>
  
    <p><span class="name">Cap.</span> What noise is this? Give me my long sword, ho!</p>
    <p><span class="name">Wife.</span> A crutch, a crutch! Why call you for a sword?</p>
    <p><span class="name">Cap.</span> My sword, I say! Old Montague is come</p>
    And flourishes his blade in spite of me.
  
    <p class="directions"><p>Enter Old Montague and his <span class="name">Wife.</span></p></p>
  
    Mon. Thou villain Capulet!- Hold me not, let me go.
    <p>M. <span class="name">Wife.</span> Thou shalt not stir one foot to seek a foe.</p>
  
    <p class="directions">Enter Prince Escalus, with his Train.</p>
  
    <p><span class="name">Prince.</span> Rebellious subjects, enemies to peace,
    Profaners of this neighbour-stained steel-
    Will they not hear? What, ho! you men, you beasts,
    That quench the fire of your pernicious rage
    With purple fountains issuing from your veins!
    On pain of torture, from those bloody hands
    Throw your mistempered weapons to the ground
    And hear the sentence of your moved prince.
    Three civil brawls, bred of an airy word
    By thee, old Capulet, and Montague,
    Have thrice disturb'd the quiet of our streets
    And made Verona's ancient citizens
    Cast by their grave beseeming ornaments
    To wield old partisans, in hands as old,
    Cank'red with peace, to part your cank'red hate.
    If ever you disturb our streets again,
    Your lives shall pay the forfeit of the peace.
    For this time all the rest depart away.
    You, Capulet, shall go along with me;
    And, Montague, come you this afternoon,
    To know our farther pleasure in this case,
    To old Freetown, our common judgment place.
    Once more, on pain of death, all men depart.</p>
    <p class="directions">Exeunt</p> [all but Montague, his Wife, and Benvolio].
    Mon. Who set this ancient quarrel new abroach?
    Speak, nephew, were you by when it began?
    <p><span class="name">Ben.</span> Here were the servants of your adversary</p>
    And yours, close fighting ere I did approach.
    I drew to part them. In the instant came
    The fiery Tybalt, with his sword prepar'd;
    Which, as he breath'd defiance to my ears,
    He swung about his head and cut the winds,
    Who, nothing hurt withal, hiss'd him in scorn.
    While we were interchanging thrusts and blows,
    Came more and more, and fought on part and part,
    Till the Prince came, who parted either part.
    <p>M. <span class="name">Wife.</span> O, where is Romeo? Saw you him to-day?</p>
    Right glad I am he was not at this fray.
    <p><span class="name">Ben.</span> Madam, an hour before the worshipp'd sun</p>
    Peer'd forth the golden window of the East,
    A troubled mind drave me to walk abroad;
    Where, underneath the grove of sycamore
    That westward rooteth from the city's side,
    So early walking did I see your son.
    Towards him I made; but he was ware of me
    And stole into the covert of the wood.
    I- measuring his affections by my own,
    Which then most sought where most might not be found,
    Being one too many by my weary self-
    Pursu'd my humour, not Pursuing his,
    And gladly shunn'd who gladly fled from me.
    Mon. Many a morning hath he there been seen,
    With tears augmenting the fresh morning's dew,
    Adding to clouds more clouds with his deep sighs;
    But all so soon as the all-cheering sun
    Should in the farthest East bean to draw
    The shady curtains from Aurora's bed,
    Away from light steals home my heavy son
    And private in his chamber pens himself,
    Shuts up his windows, locks fair daylight
    And makes himself an artificial night.
    Black and portentous must this humour prove
    Unless good counsel may the cause remove.
    <p><span class="name">Ben.</span> My noble uncle, do you know the cause?</p>
    Mon. I neither know it nor can learn of him
    <p><span class="name">Ben.</span> Have you importun'd him by any means?</p>
    Mon. Both by myself and many other friend;
    But he, his own affections' counsellor,
    Is to himself- I will not say how true-
    But to himself so secret and so close,
    So far from sounding and discovery,
    As is the bud bit with an envious worm
    Ere he can spread his sweet leaves to the air
    Or dedicate his beauty to the sun.
    Could we but learn from whence his sorrows grow,
    We would as willingly give cure as know.
  
    <p class="directions">Enter Romeo.</p>
  
    <p><span class="name">Ben.</span> See, where he comes. So please you step aside,</p>
    I'll know his grievance, or be much denied.
    Mon. I would thou wert so happy by thy stay
    To hear true shrift. Come, madam, let's away,
    <p class="directions">Exeunt</p> [Montague and Wife].
    <p><span class="name">Ben.</span> Good morrow, cousin.</p>
    <span class="name">Rom.</span> Is the day so young?
    <p><span class="name">Ben.</span> But new struck nine.</p>
    <span class="name">Rom.</span> Ay me! sad hours seem long.
    Was that my father that went hence so fast?
    <p><span class="name">Ben.</span> It was. What sadness lengthens Romeo's hours?</p>
    <span class="name">Rom.</span> Not having that which having makes them short.
    <p><span class="name">Ben.</span> In love?</p>
    <span class="name">Rom.</span> Out-
    <p><span class="name">Ben.</span> Of love?</p>
    <span class="name">Rom.</span> Out of her favour where I am in love.
    <p><span class="name">Ben.</span> Alas that love, so gentle in his view,</p>
    Should be so tyrannous and rough in proof!
    <span class="name">Rom.</span> Alas that love, whose view is muffled still,
    Should without eyes see pathways to his will!
    Where shall we dine? O me! What fray was here?
    Yet tell me not, for I have heard it all.
    Here's much to do with hate, but more with love.
    Why then, O brawling love! O loving hate!
    O anything, of nothing first create!
    O heavy lightness! serious vanity!
    Misshapen chaos of well-seeming forms!
    Feather of lead, bright smoke, cold fire, sick health!
    Still-waking sleep, that is not what it is
    This love feel I, that feel no love in this.
    Dost thou not laugh?
    <p><span class="name">Ben.</span> No, coz, I rather weep.</p>
    <span class="name">Rom.</span> Good heart, at what?
    <p><span class="name">Ben.</span> At thy good heart's oppression.</p>
    <span class="name">Rom.</span> Why, such is love's transgression.
    Griefs of mine own lie heavy in my breast,
    Which thou wilt propagate, to have it prest
    With more of thine. This love that thou hast shown
    Doth add more grief to too much of mine own.
    Love is a smoke rais'd with the fume of sighs;
    Being purg'd, a fire sparkling in lovers' eyes;
    Being vex'd, a sea nourish'd with lovers' tears.
    What is it else? A madness most discreet,
    A choking gall, and a preserving sweet.
    Farewell, my coz.
    <p><span class="name">Ben.</span> Soft! I will go along.</p>
    An if you leave me so, you do me wrong.
    <span class="name">Rom.</span> Tut! I have lost myself; I am not here:
    This is not Romeo, he's some other where.
    <p><span class="name">Ben.</span> Tell me in sadness, who is that you love?</p>
    <span class="name">Rom.</span> What, shall I groan and tell thee?
    <p><span class="name">Ben.</span> Groan? Why, no;</p>
    But sadly tell me who.
    <span class="name">Rom.</span> Bid a sick man in sadness make his will.
    Ah, word ill urg'd to one that is so ill!
    In sadness, cousin, I do love a woman.
    <p><span class="name">Ben.</span> I aim'd so near when I suppos'd you lov'd.</p>
    <span class="name">Rom.</span> A right good markman! And she's fair I love.
    <p><span class="name">Ben.</span> A right fair mark, fair coz, is soonest hit.</p>
    <span class="name">Rom.</span> Well, in that hit you miss. She'll not be hit
    With Cupid's arrow. She hath Dian's wit,
    And, in strong proof of chastity well arm'd,
    From Love's weak childish bow she lives unharm'd.
    She will not stay the siege of loving terms,
    Nor bide th' encounter of assailing eyes,
    Nor ope her lap to saint-seducing gold.
    O, she's rich in beauty; only poor
    That, when she dies, with beauty dies her store.
    <p><span class="name">Ben.</span> Then she hath sworn that she will still live chaste?</p>
    <span class="name">Rom.</span> She hath, and in that sparing makes huge waste;
    For beauty, starv'd with her severity,
    Cuts beauty off from all posterity.
    She is too fair, too wise, wisely too fair,
    To merit bliss by making me despair.
    She hath forsworn to love, and in that vow
    Do I live dead that live to tell it now.
    <p><span class="name">Ben.</span> Be rul'd by me: forget to think of her.</p>
    <span class="name">Rom.</span> O, teach me how I should forget to think!
    <p><span class="name">Ben.</span> By giving liberty unto thine eyes.</p>
    Examine other beauties.
    <span class="name">Rom.</span> 'Tis the way
    To call hers (exquisite) in question more.
    These happy masks that kiss fair ladies' brows,
    Being black puts us in mind they hide the fair.
    He that is strucken blind cannot forget
    The precious treasure of his eyesight lost.
    Show me a mistress that is passing fair,
    What doth her beauty serve but as a note
    Where I may read who pass'd that passing fair?
    Farewell. Thou canst not teach me to forget.
    <p><span class="name">Ben.</span> I'll pay that doctrine, or else die in debt. <p class="directions">Exeunt</p>.</p>
  </ol>
</body>
</html>
